body{
	background:#eee;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	margin:0;
	padding:0
}
.examples{
	background:#FFF;
	color: black;
	width:625px;
	font-size:80%;
	border:1px #000 solid;
	margin:3.5em auto 2em;
	padding:1em 2em 2em
}
.results{
	border:1px #DDD solid;
	margin:20px auto;
	padding:10px;
	font-size:14px;
	text-align:center;
}